<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhoukp.signer">

    <!--permissions-->
    <!--读取磁盘的权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--拍照权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!--适配Android O 应用安装-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".application.SignApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--百度地图key-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="YIS8elrsrDSOBGH1HgV7tsD2IByvgkEZ" />

        <!--provider-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public" />
        </provider>

        <activity
            android:name=".module.update.PermissionActivity"
            android:label=""
            android:theme="@style/DialogActivity" />
        <service android:name=".module.update.DownloadService" />

        <!--activities-->
        <activity
            android:name=".module.main.MainActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.CotrunActivity"
            android:configChanges="keyboardHidden|screenSize|orientation|keyboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UploadAwardsActivity"
            android:configChanges="keyboardHidden|screenSize|orientation|keyboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SelectTimeActivity"
            android:configChanges="keyboardHidden|screenSize|orientation|keyboard"
            android:screenOrientation="portrait"
            android:theme="@style/DialogStyleBottom" />
        <activity
            android:name=".module.chose.SelectYearActivity"
            android:configChanges="keyboardHidden|screenSize|orientation|keyboard"
            android:screenOrientation="portrait"
            android:theme="@style/DialogStyleBottom" />
        <activity
            android:name=".module.chose.SelectMonthActivity"
            android:configChanges="keyboardHidden|screenSize|orientation|keyboard"
            android:screenOrientation="portrait"
            android:theme="@style/DialogStyleBottom" />
        <activity
            android:name=".module.chose.SelectTermActivity"
            android:configChanges="keyboardHidden|screenSize|orientation|keyboard"
            android:screenOrientation="portrait"
            android:theme="@style/DialogStyleBottom" />
        <activity
            android:name=".module.chose.SelectWeekActivity"
            android:configChanges="keyboardHidden|screenSize|orientation|keyboard"
            android:screenOrientation="portrait"
            android:theme="@style/DialogStyleBottom" />
        <activity
            android:name=".module.chose.SelectSchoolYearActivity"
            android:configChanges="keyboardHidden|screenSize|orientation|keyboard"
            android:screenOrientation="portrait"
            android:theme="@style/DialogStyleBottom" />
        <activity
            android:name=".module.functions.sign.SignActivity"
            android:configChanges="keyboardHidden|screenSize|orientation|keyboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AllTestActivity"
            android:configChanges="keyboardHidden|screenSize|orientation|keyboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MeetingActivity"
            android:configChanges="keyboardHidden|screenSize|orientation|keyboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.functions.ledgers.LedgerActivity"
            android:configChanges="keyboardHidden|screenSize|orientation|keyboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.login.LoginActivity"
            android:configChanges="keyboardHidden|screenSize|orientation|keyboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.managedevice.ManageDeviceActivity"
            android:configChanges="keyboardHidden|screenSize|orientation|keyboard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.functions.ledgers.scanxls.ScanXlsActivity"
            android:configChanges="keyboardHidden|screenSize|orientation|keyboard"
            android:screenOrientation="portrait" />


        <!--services-->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

    </application>

</manifest>